extends base.pug
block scripts
    script(src='../static/javascripts/index.js' async)
    script(src='../static/javascripts/rasp.js' async)
    script(src='../static/javascripts/cart.js' defer="defer" async)

block style
    style
        include ../static/stylesheets/style.css
        include ../static/responsive.css
        include ../static/stylesheets/styleCart.css

block content
    div#cart-items 
        h1 My Cart                            
        button(class="btn cancel-cart" type="button" id="cart-cancel") Cancel Cart        
    
    