extends base.pug
block scripts
    script(src='../static/javascripts/index.js' async)
    script(src='../static/javascripts/rasp.js' async)
    script(src='../static/javascripts/cart.js' defer="defer" async)

block style
    style
        include ../static/stylesheets/style.css

block content
    div.cart-modal 
        span(onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal") &times
        h1 My Cart        
        div.cart-items                      
        button(class="btn cancel-cart" ,id="cart-cancel") Cancel Cart       
    
    