extends base.pug

block scripts
    script(src='../static/javascripts/index.js')

block style
    style
        include ../static/stylesheets/style.css

block content
    div.box-main
        div.profile
            img(src='../static/images/'+data[0].image,alt='No image')
        div.table
            table(style='width:100%', border='1')
                tr
                    th Price
                    th Year old
                tr
                    td #{data[0].price}
                    td #{data[0].old}
    