extends base.pug

block scripts
    script(src='../static/javascripts/index.js')
    script(src='../static/javascripts/rasp.js')

block style
    style
        include ../static/stylesheets/style.css
        include ../static/stylesheets/responsive.css

block content
    
    h1
        |    We sell all the final year stuff at a reasonable price and then provides them to the needy ones.
    

